services:
  - type: web
    name: gbv-backend
    env: python
    buildDir: Server
    buildCommand: "./build.sh"
    startCommand: "cd report_backend && gunicorn report_backend.wsgi:application"
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: report_backend.settings
      - key: SECRET_KEY
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: gbv3-db
          property: connectionString
      - key: RENDER_EXTERNAL_HOSTNAME
        value: "true"

databases:
  - name: gbv3-db
    plan: free