# services:
#   - type: web
#     name: gbv-backend
#     env: python
#     buildDir: .   # root of the repo
#     buildCommand: "./build.sh"
#     startCommand: "cd report_backend && gunicorn report_backend.asgi:application -k uvicorn.workers.UvicornWorker"

#     envVars:
#       - key: DJANGO_SETTINGS_MODULE
#         value: report_backend.settings
#       - key: SECRET_KEY
#         sync: false
#       - key: DATABASE_URL
#         fromDatabase:
#           name: gbv3-db
#           property: connectionString

# databases:
#   - name: gbv3-db
#     plan: free


services:
  - type: web
    name: gbv-plp-hacks
    env: python
    region: oregon
    plan: free
    rootDir: Server
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
      python manage.py collectstatic --noinput
      python manage.py migrate
    startCommand: gunicorn report_backend.asgi:application -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:$PORT
    healthCheckPath: /healthz
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: report_backend.settings
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: ".onrender.com"
      - key: DATABASE_URL
        fromDatabase:
          name: gbv3-db
          property: connectionString
      - key: PYTHON_VERSION
        value: "3.11"

databases:
  - name: gbv3-db
    databaseName: gbv_database
    user: gbv_user
    plan: free
    region: oregon