services:
  - type: web
    name: gbv-backend
    env: python
    buildDir: .   # root of the repo
    buildCommand: "./build.sh"
    startCommand: "cd Server/report_backend && gunicorn report_backend.asgi:application -k uvicorn.workers.UvicornWorker"

    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: report_backend.settings
      - key: SECRET_KEY
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: gbv3-db
          property: connectionString

databases:
  - name: gbv3-db
    plan: free
